body{
    font-family: "Arial";}
h1{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 8em;
    kerning: 10px;
}
h2{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 7em;
}
div{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.btn {
border-color: black;
size: 5em;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    font-variant: small-caps;
    font-family: Calibri;
    font-size: 2em;

}